body {
  background-color: rgb(241, 241, 241) !important;
  display: block !important;
  overflow: auto !important;
}

/* Class Styling */

/* Home Page */
.homeHeader {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/images/wood.jpg");
  padding-top: 15em;
}

.homeLogo {
  color: rgb(255, 255, 255) !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.homeContent {
  margin: 25px;
}

.homeMoreButton {
  margin-top: 15px;
}

.homeAboutMe {
  padding-top: 15vh;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace
}

.homeAboutMeMobile {
  padding-top: 1vh;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace
}

.homeImageRadius {
  border-radius: 30px;
}

.homeMission {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.homeWork {
  font-family: 'Courier New', Courier, monospace;
}
/* Login */

.loginBody {
  height: 80vh;
}

/* Service Page */

.serviceCard {
  margin-top: 25px;
}

/* Center Content */

.wrapper {
  text-align: center;
}

.centerContent {
  display: inline-block;
}
